<div>
    <button (click)="changeBold()" [ngClass]="{bold : isBold}">Bold</button>
    <button (click)="changeItalic()" [ngClass]="{italic : isItalic}">Italic</button>
    <button (click)="changeUnderlined()" [ngClass]="{underline : isUnderlined}">Underline</button>
    <select [(ngModel)]="fontSize">
        <option value="12">12</option>
        <option value="16">16</option>
        <option value="24">24</option>
        <option value="32">32</option>
    </select>
    <button (click)="changeCase()" [ngClass]="{uppercase : textCase}">Tt</button>
    <select [(ngModel)]="fontStyle">
        <option value="Arial">Arial</option>
        <option value="Times New Roman">Times New Roman</option>
        <option value="Verdana">Verdana</option>
        <option value="Courier New">Courier New</option>
        <option value="Georgia">Georgia</option>
    </select>
    <input type="color" [(ngModel)]="color">
</div>
<textarea [ngClass]="{
    bold : isBold,
    italic : isItalic,
    underline : isUnderlined,
    uppercase : textCase,
}"
[ngStyle]="{
    'font-size': fontSize + 'px',
    color: color,
    'font-family': fontStyle,
}"
></textarea>
<br>
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>